<header class="navbar" [ngClass]="{ fundo: isScrolled }">
  <div class="logo">
    <a routerLink="/"
      ><img src="assets/img/logo.png" alt="Logo Viva Cidade" />
    </a>
  </div>

  <button class="menu-icon" (click)="toggleMenu()">
    &#9776;
  </button>

  <nav class="nav-links" [ngClass]="{ aberto: menuAberto }">
    <a routerLink="/eventos" (click)="fecharMenu()">Eventos</a>
    <a routerLink="/pontos-turisticos" (click)="fecharMenu()">Pontos Turísticos</a>
    <a routerLink="/onde-comer" (click)="fecharMenu()">Comida</a>
    <a routerLink="/hospedagem" (click)="fecharMenu()">Hospedagem</a>
    <a routerLink="/passeios" (click)="fecharMenu()">Passeios</a>
    <a routerLink="/info" (click)="fecharMenu()">Informar a Prefeitura</a>
    <a routerLink="/login" class="login-button" (click)="fecharMenu()">Entrar</a>
  </nav>
</header>
