main {
  padding-top: 5rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

@media (min-width: 600px) {

  /* Tablets */
  .div-1 {
    background-color: black;
    width: 150px;


  }
}

@media (min-width: 1024px) {

  /* Laptops */
  .div-1 {
    background-color: aquamarine;
    width: 250px;
  }

}

@media (min-width: 1440px) {

  /* Monitores grandes */
  .div-1 {
    background-color: yellow;
    width: 350px;

  }
}

